@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&display=swap');


body {
  font-family: 'Montserrat', Arial, sans-serif !important;
  background: #218c4a;
  color: #fff;
}

.heading-main, .heading-section {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 900;
  letter-spacing: 1px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
